# Ignore the gignore (gitignore) folder inside the app.
app/gignored/*
app/venv/*
app/__pycache__/*
app/fakeroot/*
app/core/__pycache__/*
app/core/__pycache__/
app/build/*
app/dist/*
app/DDLC_Mod_Manager.spec