# Ignore build output directories
build/
dist/

# Ignore Windows batch file used for building and the one for building a release
compile.bat
release.bat

# Ignore PyInstaller spec file
ddlc_manager.spec

#Ignore v.1.1.2 python script for reference
ddlc_manager_112.py